@use "./partials/palette.scss";
@use "./modules/mixins.scss";
@use "./modules/foundation.scss";
@use "./partials/media-queries.scss" as q;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
// Navbar styling
header {
  // @include mixins.background;
  // width: 100%;
  // padding: 15px;
}

.navbar {
  @include mixins.flex(row, space-between, nowrap);
  @include mixins.text(1.7em, 600);
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  @include mixins.background;
  padding: 15px;
  border: solid 2px red;

  &__menu {
    @include mixins.flex(column, center, nowrap);
    align-items: flex-end;
  }

  &__btn {
    @include mixins.flex(column, center, nowrap);
    gap: 5px;
    background: none;
    border: none;
  }

  &__hamburger {
    display: block;
    width: 30px;
    height: 4px;
    background-color: palette.$light;
    color: black;
    border-radius: 2px;
  }
  &__text {
    @include mixins.flex(column, center, nowrap);
    align-items: flex-end;
    list-style: none;
  }
}
.hidden {
  display: none;
}

// Styling for all pages
.content {
  @include mixins.flex(column, center, nowrap);
  @include mixins.text(1em, 1000);
}

.page-block {
  width: 100%;
  height: 100vh;
  //   padding-top: 60px;
  @include mixins.background;
  padding: 15px;
}

// Landing page styling
.landing {
  @include mixins.flex(column, center, nowrap);
  align-items: flex-start;
  gap: 35px;
  border-top: 0;

  &__text {
    @include mixins.text(2.7em, 1000);
  }

  &__name {
    display: block;
  }

  &__role {
    @include mixins.text(1.3em, 600);
  }
}

//Skills page styling
.skills {
  @include mixins.flex(column, flex-start, nowrap);
  gap: 30px;
  &__title {
    @include mixins.text(2.7em, 1000);
  }

  &__container {
    @include mixins.flex(column, center, nowrap);
    gap: 25px;
    @include q.md-up {
      @include mixins.flex(row, center, wrap);
    }
  }

  &__card {
    @include mixins.flex(row, center, wrap);
    align-items: center;
    gap: 10px;
    @include q.md-up {
      @include mixins.flex(column, center, wrap);
    }
  }

  &__type {
    @include mixins.text(1.7em, 600);
  }

  &__logo {
    font-size: 2.2em;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
}
